@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-size: 35px;
  font-family: "roboto", Arial, sans-serif;
}
body button {
  cursor: pointer;
}

.wrapper {
  width: 100vw;
  min-height: 200vh;
  margin: 0 auto;
  background-color: #c3b091;
}

.fa-bars {
  position: fixed;
  top: 1vh;
  right: 1vh;
  font-size: 25px;
  z-index: 2;
}

.menu {
  height: 100vh;
  background-color: rgb(139, 46, 46);
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  font-family: "Dancing Script", cursive;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(139, 46, 46);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}
.menu__item {
  list-style: none;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px; /*zmienić na wartość % */
  border-bottom: 2px solid black;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
.menu__item:nth-child(1) {
  border-top: 2px solid black;
}
.menu__item:active {
  background-color: #c3b091;
}

.active {
  left: 0;
}

.tittle {
  background-color: rgb(139, 46, 46);
}
.tittle__logo {
  display: block;
  max-height: 10vh;
}
.tittle__back {
  background-image: url("../images/header/small.jpg");
  background-position: center;
  background-size: cover;
  height: 30vh;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  border-radius: 0 0 3% 3%;
}

.about {
  height: 30vh;
  background-color: #c3b091;
  border-radius: 3%;
  font-family: "Dancing Script", cursive;
}
.about__quote {
  text-align: center;
  padding-top: 10%;
}
.about__author {
  text-align: right;
  padding: 5% 5% 0 0;
}

.team {
  background-color: #c3b091;
  margin-top: 1vh;
  padding-top: 2vh;
}
.team__header {
  text-align: center;
  font-size: 40px;
  position: relative;
}
.team__header:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 20%;
}
.team__header:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 20%;
}
.team__crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3vh;
}
.team__description {
  text-align: center;
  font-size: 25px;
  padding: 3vh 0;
}
.team__crewImg, .team__coffeeImg {
  border-radius: 3%;
  width: 100%;
  margin-bottom: 2vh;
}

.offer {
  min-height: 50vh;
  margin: 3vh 0;
  background-color: #c3b091;
  padding-bottom: 1vh;
}
.offer__header {
  font-size: 40px;
  text-align: center;
  position: relative;
}
.offer__header:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 20%;
}
.offer__header:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 20%;
}

.product {
  min-height: 15vh;
  border: rgb(139, 46, 46) 2px solid;
  border-radius: 15px;
  margin: 2vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product__icon {
  width: 30%;
  margin-top: 3%;
}
.product__name {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.product__description {
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
}
.product__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
}
.product__price {
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}
.product__price span {
  font-size: 20px;
}
.product__orderBtn {
  border: 2px solid rgb(139, 46, 46);
  border-radius: 10px;
  width: 85px;
  background-color: #c3b091;
  font-weight: bold;
  text-transform: uppercase;
}
.product__orderBtn:active {
  background-color: rgb(139, 46, 46);
  color: #c3b091;
}

.contact {
  background-color: #c3b091;
}
.contact__header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  padding: 10px 0;
}
.contact__header:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 15%;
}
.contact__header:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  background-color: rgb(139, 46, 46);
  height: 3px;
  width: 15%;
}
.contact__description {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  margin: 5px 15px;
}
.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 30vh;
  margin-bottom: 10vh;
}
.contact__map {
  width: 80%;
  margin: 5px auto 0;
  padding-bottom: 25px;
}

.mobile,
.mail,
.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0;
  height: 100px;
}
.mobile__icon,
.mail__icon,
.address__icon {
  width: 10%;
}
.mobile__description,
.mail__description,
.address__description {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
  margin: 0 auto 30px;
  padding-bottom: 30px;
}
.form__header {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px;
}
.form__button {
  height: 30px;
  width: 80px;
  font-family: "roboto", Arial, sans-serif;
  border: 2px solid rgb(139, 46, 46);
  border-radius: 10px;
  background-color: #c3b091;
}
.form__button:active {
  background-color: rgb(139, 46, 46);
}

input {
  height: 35px;
}

input,
textarea {
  width: 70%;
  margin: 4px 0 8px;
  border-top: transparent;
  border-right: transparent;
  border-left: rgb(139, 46, 46) 3px solid;
  border-bottom: rgb(139, 46, 46) 3px solid;
  font-family: "roboto", Arial, sans-serif;
  font-size: 15px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map__header {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.map__frame {
  height: 300px;
}

.footer {
  height: 25px;
  background-color: rgb(139, 46, 46);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 100%;
}
.footer__author {
  text-decoration: underline;
  color: black;
}

@media (min-width: 719px) {
  .wrapper {
    margin: 0 10vw;
    max-width: 80vw;
  }
  .fa-bars {
    display: none;
  }
  .contact__description {
    font-size: 25px;
    padding-top: 20px;
  }
  .contact__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
  .contact__info div img {
    width: 20%;
  }
  .mail__icon {
    margin-bottom: 20px;
  }
  .menu {
    height: 100px;
    top: 0;
    left: 0;
    display: none;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .menu__list {
    background-color: rgb(139, 46, 46);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
  }
  .menu__item {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    line-height: 100px;
  }
  .activeMenu {
    display: block;
    bottom: 25px;
    top: auto;
  }
  .tittle__logo {
    max-height: none;
    height: 200px;
    margin: 0 auto;
  }
  .tittle__back {
    height: 55vh;
  }
  .team__crew {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 35px;
  }
  .team__crewImg, .team__coffeeImg {
    width: 50%;
    padding: 0 25px;
  }
  .team__description {
    width: 50%;
  }
  .team__coffee {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__header {
    width: 100%;
  }
  .product {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 0 10px;
  }
  .map {
    margin-bottom: 200px;
  }
  .map__frame {
    height: 500px;
  }
}
@media (min-width: 1023px) {
  body {
    max-width: 1200px;
  }
  .team__crew, .team__coffee {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__description {
    padding: 0 45px;
  }
  .team img {
    padding: 0 45px;
  }
  .contact__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    width: 90%;
  }
  .form__header {
    padding-right: 15px;
  }
}/*# sourceMappingURL=style.css.map */