// style reset
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// color: white;
}

// variables

$mainFont: "roboto", Arial, sans-serif;
$mainColour: rgb(139, 46, 46);
$secondColour: lightgrey;
$thirdColour: #c3b091;

// styles
body {
	position: relative;
	font-size: 35px;
	font-family: $mainFont;
}

.wrapper {
	width: 100vw;
	height: 200vh;
	margin: 0 auto;
	background-color: $thirdColour;
}

.fa-bars {
	position: fixed;
	top: 1vh;
	right: 1vh;
	font-size: 25px;
	z-index: 2;
}

.menu {
	height: 100vh;
	background-color: $mainColour;
	position: fixed;
	top: 0;
	left: 100vw;
	width: 100%;
	transition: 0.5s;
	z-index: 1;
	font-family: "Dancing Script", cursive;
	&__list {
		display: flex;
		background-color: $mainColour;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		text-align: center;
	}
	&__item {
		list-style: none;
		flex-basis: 50px; /*zmienić na wartość % */
		border-bottom: 2px solid black;
		border-bottom: 2px solid black;
		text-transform: uppercase;
		&:nth-child(1) {
			border-top: 2px solid black;
		}
		&:active {
			background-color: $thirdColour;
		}
	}
}

.active {
	left: 0;
}

.tittle {
	background-color: $mainColour;
	&__logo {
		display: block;
		max-height: 10vh;
	}
	&__back {
		background-image: url("../images/header/small.jpg");
		background-position: center;
		background-size: cover;
		height: 30vh;
		filter: grayscale(80%);
		border-radius: 0 0 3% 3%;
	}
}

.about {
	height: 30vh;
	background-color: $thirdColour;
	border-radius: 3%;
	font-family: "Dancing Script", cursive;
	&__quote {
		text-align: center;
		padding-top: 10%;
	}
	&__author {
		text-align: right;
		padding: 5% 5% 0 0;
	}
}

.team {
	background-color: $thirdColour;
	margin-top: 1vh;
	padding-top: 2vh;
	&__header {
		text-align: center;
		font-size: 40px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 20%;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 20%;
		}
	}
	&__crew {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 3vh;
	}
	&__description {
		text-align: center;
		font-size: 25px;
		padding: 3vh 0;
	}
	&__crewImg,
	&__coffeeImg {
		border-radius: 3%;
		width: 100%;
		margin-bottom: 2vh;
	}
}

.offer {
	min-height: 50vh;
	margin: 3vh 0;
	background-color: $thirdColour;
	padding-bottom: 1vh;
	&__header {
		font-size: 40px;
		text-align: center;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 20%;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 20%;
		}
	}
}

.product {
	min-height: 15vh;
	border: $mainColour 2px solid;
	border-radius: 15px;
	margin: 2vh 5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	&__icon {
		width: 30%;
		margin-top: 3%;
	}
	&__name {
		margin-top: 10px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		flex-basis: 100%;
	}
	&__description {
		font-size: 20px;
		padding: 10px 15px;
		text-align: center;
	}
	&__wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 15px 0;
	}
	&__price {
		font-size: 25px;
		text-align: left;
		font-weight: bold;
		span {
			font-size: 20px;
		}
	}
	&__orderBtn {
		border: 2px solid $mainColour;
		border-radius: 10px;
		width: 85px;
		background-color: $thirdColour;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__orderBtn:active {
		background-color: $mainColour;
		color: $thirdColour;
	}
}

.contact {
	background-color: $thirdColour;
	&__header {
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		position: relative;
		padding: 10px 0;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 15%;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 7%;
			background-color: $mainColour;
			height: 3px;
			width: 15%;
		}
	}
	&__description {
		text-align: center;
		font-size: 15px;
		font-weight: normal;
		margin: 5px 15px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		flex-grow: 0;
		height: 30vh;
		margin-bottom: 10vh;
	}
	&__map {
		width: 80%;
		margin: 5px auto 0;
		padding-bottom: 25px;
	}
}
.mobile,
.mail,
.address {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 5% 0;
	height: 100px;
	&__icon {
		width: 10%;
	}
	&__description {
		padding-top: 10px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	text-align: center;
	margin: 0 auto 30px;
	padding-bottom: 30px;
	&__header {
		font-size: 15px;
		font-weight: normal;
		text-align: center;
		margin-bottom: 15px;
	}
	&__button {
		height: 30px;
		width: 80px;
		font-family: $mainFont;
		border: 2px solid $mainColour;
		border-radius: 10px;
		background-color: $thirdColour;
		&:active {
			background-color: $mainColour;
		}
	}
}
input {
	height: 35px;
}
input,
textarea {
	width: 70%;
	margin: 4px 0 8px;
	border-top: transparent;
	border-right: transparent;
	border-left: $mainColour 3px solid;
	border-bottom: $mainColour 3px solid;
	font-family: $mainFont;
	font-size: 15px;
}
.map {
	display: flex;
	flex-direction: column;
	&__header {
		font-size: 30px;
		font-weight: normal;
		text-align: center;
	}
	&__frame {
		height: 300px;
	}
}

.footer {
	height: 25px;
	background-color: $mainColour;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 15px;
	width: 100%;
	&__author {
		text-decoration: underline;
		color: black;
	}
}

//media-queries

@media (min-width: 719px) {
	.wrapper {
		margin: 0 10vw;
		max-width: 80vw;
	}
	.fa-bars {
		display: none;
	}
	.contact__description {
		font-size: 25px;
		padding-top: 20px;
	}
	.contact__info {
		flex-direction: row;
		align-items: center;
		height: 150px;
		& div img {
			width: 20%;
		}
	}
	.mail__icon {
		margin-bottom: 20px;
	}
	.menu {
		height: 100px;
		top: 0;
		left: 0;
		display: none;
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
		&__list {
			background-color: $mainColour;
			flex-direction: row;
		}
		&__item {
			border-bottom: 2px solid black;
			border-top: 2px solid black;
			border-right: 2px solid black;
			flex-basis: 25%;
			line-height: 100px;
		}
	}
	.activeMenu {
		display: block;
		bottom: 25px;
		top: auto;
	}
	.tittle {
		&__logo {
			max-height: none;
			height: 200px;
			margin: 0 auto;
		}
		&__back {
			height: 55vh;
		}
	}
	.team {
		&__crew {
			flex-direction: row;
			flex-basis: 50%;
			margin-bottom: 35px;
		}
		&__crewImg,
		&__coffeeImg {
			width: 50%;
			padding: 0 25px;
		}
		&__description {
			width: 50%;
		}
		&__coffee {
			display: flex;
			flex-direction: row-reverse;
			flex-basis: 50%;
		}
	}
	.offer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&__header {
			width: 100%;
		}
	}
	.product {
		flex-basis: 30%;
		margin: 0 10px;
	}
	.map {
		margin-bottom: 200px;
		&__frame {
			height: 500px;
		}
	}
}

@media (min-width: 1023px) {
	body {
		max-width: 1200px;
	}
	.team {
		&__crew,
		&__coffee {
			align-items: center;
		}
		&__description {
			padding: 0 45px;
		}
		& img {
			padding: 0 45px;
		}
	}
	.contact {
		&__info {
			flex-direction: row;
			flex-basis: 30%;
			width: 90%;
		}
	}
	.form {
		&__header {
			padding-right: 15px;
		}
	}
}
